@import "../base/_variables";

$color-background-light:$color-red;
$color-background-lighter:lighten($color-background-light, 10%);
$color-background-dark:darken($color-background-light,2%) ;
$color-background-darker:darken($color-background-dark,3%) ;
$color-background-darkest:darken($color-background-darker,5%);
$color-primary-text:$color-white;


@import "../style";
