/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  text-decoration: none; }

.container, .container-wide, .row, .numbers__row {
  *zoom: 1;
  clear: both; }
  .container:before, .container-wide:before, .row:before, .numbers__row:before, .container:after, .container-wide:after, .row:after, .numbers__row:after {
    content: " ";
    display: table; }
  .container:after, .container-wide:after, .row:after, .numbers__row:after {
    clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-6--wide, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .sudoku-col-1-9 {
  position: relative;
  width: 100%;
  display: inline-block;
  float: left;
  vertical-align: top;
  height: 100%; }

.footer a, .btn, .sudoku-emptyField, .numbers__outer, .numbers__row__nums, .slider, .soundPlayer .row [class^="icon-"], .btnPlayer, .btnMuteAll, .close, .socialButtons button, .colorPicker {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%; }
  @media (min-width: 1024px) {
    .container {
      width: 970px;
      margin: 0 auto; } }

.container-wide {
  width: 100%; }

.row {
  width: 100%; }

@media (min-width: 768px) {
  .col-1 {
    width: 8.333333333333332%; } }

@media (min-width: 768px) {
  .col-2 {
    width: 16.666666666666664%; } }

@media (min-width: 768px) {
  .col-3 {
    width: 25%; } }

@media (min-width: 1024px) {
  .col-4 {
    width: 33.33333333333333%; } }

@media (min-width: 768px) {
  .col-5 {
    width: 41.66666666666667%; } }

.col-6 {
  width: 50%; }

@media (min-width: 768px) {
  .col-6--wide {
    width: 50%; } }

@media (min-width: 768px) {
  .col-7 {
    width: 58.333333333333336%; } }

@media (min-width: 1024px) {
  .col-8 {
    width: 66.66666666666666%; } }

@media (min-width: 768px) {
  .col-9 {
    width: 75%; } }

@media (min-width: 768px) {
  .col-10 {
    width: 83.33333333333334%; } }

@media (min-width: 768px) {
  .col-11 {
    width: 91.66666666666666%; } }

@media (min-width: 768px) {
  .col-12 {
    width: 100%; } }

.logo {
  position: fixed;
  top: 5px;
  left: 5px; }
  .logo h3 {
    margin: 0; }

.footer {
  z-index: 3000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  text-align: center;
  font-size: 0.8em;
  background-color: #ff9e91; }
  @media (max-width: 768px) {
    .footer {
      position: relative; } }
  .footer p {
    display: inline-block;
    margin-left: 10px;
    padding-top: 10px; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #ffd4ce; }

.donation {
  display: inline-block; }
  .donation button {
    height: 30px;
    margin-left: 5px;
    background-color: #ff8c7c;
    border: none; }
  .donation .social-button__icon {
    height: 30px;
    width: 30px;
    line-height: 30px; }
  .donation .social-button__text {
    padding: 10px;
    line-height: 30px;
    font-size: 1.2em; }
  @media (max-width: 419px) {
    .donation p:first-of-type {
      display: none; } }

form {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px; }
  form #paypalimage {
    width: 80px; }

body {
  position: relative;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
  background-color: #FFA79B; }

.logo {
  left: -9999px; }

.btn {
  display: inline-block;
  min-height: 3em;
  min-width: 8em;
  text-align: center;
  font-size: 0.8em;
  background-color: #ff9182;
  cursor: pointer;
  font-family: "Muli", sans-serif;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  text-transform: capitalize; }
  .btn:hover {
    background-color: #ff7a68; }
  .btn a {
    color: white; }

button {
  padding: 0;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  outline: none; }

.modalGameWon .modal-body button {
  margin-top: 50px;
  padding: 0.5em 1.1em; }

.active {
  background-color: #ff7a68;
  border-bottom: 3px solid white; }

.text-center {
  text-align: center; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block; }

.bgimg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8; }

html, body {
  font-family: "Muli", sans-serif; }

body {
  font-size: 14px;
  line-height: 1.41; }
  @media screen and (min-width: 480px) {
    body {
      font-size: 15px;
      line-height: 1.5; } }
  @media screen and (min-width: 1000px) {
    body {
      font-size: 14px;
      line-height: 1.62; } }
  @media screen and (min-width: 1601px) {
    body {
      font-size: 16px;
      line-height: 1.62; } }
  @media screen and (min-width: 1921px) {
    body {
      font-size: 17px;
      line-height: 1.62; } }

h3 {
  font-size: 16.8px;
  line-height: 1.18; }
  @media screen and (min-width: 480px) {
    h3 {
      font-size: 21.2px;
      line-height: 1.06; } }
  @media screen and (min-width: 1000px) {
    h3 {
      font-size: 21px;
      line-height: 1.08; } }
  @media screen and (min-width: 1601px) {
    h3 {
      font-size: 24px;
      line-height: 1.08; } }
  @media screen and (min-width: 1921px) {
    h3 {
      font-size: 27.5px;
      line-height: 1; } }

h2 {
  font-size: 20.2px;
  line-height: 0.98; }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 30px;
      line-height: 0.75; } }
  @media screen and (min-width: 1000px) {
    h2 {
      font-size: 31.5px;
      line-height: 0.72; } }
  @media screen and (min-width: 1601px) {
    h2 {
      font-size: 36px;
      line-height: 0.72; } }
  @media screen and (min-width: 1921px) {
    h2 {
      font-size: 44.5px;
      line-height: 1.24; } }

h1 {
  font-size: 24.2px;
  line-height: 0.82; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 42.4px;
      line-height: 1.06; } }
  @media screen and (min-width: 1000px) {
    h1 {
      font-size: 47.3px;
      line-height: 0.96; } }
  @media screen and (min-width: 1601px) {
    h1 {
      font-size: 54px;
      line-height: 0.96; } }
  @media screen and (min-width: 1921px) {
    h1 {
      font-size: 72px;
      line-height: 1.15; } }

h1, h2, h3,
h4, h5, h6 {
  margin: 20px 0 10px 0;
  color: #fff; }
  @media (min-width: 500px) {
    h1, h2, h3,
    h4, h5, h6 {
      margin-bottom: 20px; } }

.sudokuColumn {
  padding-bottom: 20px;
  right: 0;
  transition: right 0.8s; }
  @media (max-width: 768px) {
    .sudokuColumn {
      padding-top: 30px; } }

.sudoku {
  position: relative;
  margin: 0 auto;
  height: 520px;
  width: 520px;
  color: white;
  background-color: #ff9e91;
  border: 1px solid #ff9182;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(43, 43, 43, 0.19); }
  @media (max-width: 1800px) {
    .sudoku {
      height: 450px;
      width: 450px; } }
  @media (max-width: 1440px) {
    .sudoku {
      height: 400px;
      width: 400px; } }
  @media (max-width: 1023px) {
    .sudoku {
      height: 450px;
      width: 450px;
      box-shadow: none; } }
  @media (max-width: 550px) {
    .sudoku {
      height: 400px;
      width: 400px; } }
  @media (max-width: 460px) {
    .sudoku {
      height: 350px;
      width: 350px; } }
  @media (max-width: 380px) {
    .sudoku {
      height: 300px;
      width: 300px; } }

.sudoku__row {
  height: 11.11111%;
  border-bottom: 1px solid #ff9182; }
  .sudoku__row:nth-of-type(3) {
    border-bottom: 5px solid #ff9182; }
  .sudoku__row:nth-of-type(6) {
    border-bottom: 5px solid #ff9182; }
  .sudoku__row:last-of-type {
    border-bottom: none; }

.sudoku-col-1-9 {
  width: 11.11111%;
  font-size: 1.8em;
  line-height: 2em;
  text-align: center;
  border-right: 1px solid #ff9182; }
  .sudoku-col-1-9:nth-of-type(3) {
    border-right: 5px solid #ff9182; }
  .sudoku-col-1-9:nth-of-type(6) {
    border-right: 5px solid #ff9182; }
  .sudoku-col-1-9:last-of-type {
    border-right: none; }
  @media (max-width: 460px) {
    .sudoku-col-1-9 {
      font-size: 1.5em;
      line-height: 1.6em; } }
  @media (min-width: 1024px) and (max-width: 1501px) {
    .sudoku-col-1-9 {
      font-size: 1.4em;
      line-height: 2em; } }
  @media (min-width: 1920px) {
    .sudoku-col-1-9 {
      line-height: 2em; } }

.sudoku-emptyField {
  cursor: pointer;
  color: #746E72;
  background-color: white; }
  .sudoku-emptyField:hover {
    background-color: #ff7a68;
    color: #fff; }

.gameOptions {
  margin: 0 auto;
  text-align: center; }
  .gameOptions > * {
    margin-top: 30px; }

.sudokuColumn--toRight {
  right: -16.666666666666664%; }

.sectionHeading--sudoku p {
  padding: 50px 50px 70px 50px; }
  @media (min-width: 768px) and (max-width: 1500px) {
    .sectionHeading--sudoku p {
      padding: 50px 0 50px 0; } }
  @media (min-width: 1600px) {
    .sectionHeading--sudoku p {
      padding-bottom: 50px; } }
  @media (min-width: 1920px) {
    .sectionHeading--sudoku p {
      padding-top: 70px;
      padding-bottom: 70px; } }

@media (min-width: 600px) and (max-width: 767px) {
  .sectionHeading--sudoku {
    padding: 20px 90px 20px 90px; } }

@media (min-width: 768px) {
  .sectionHeading--sudoku {
    margin-left: 25%; } }

.edited-field {
  background-color: white;
  color: #746E72; }

.numbers__outer {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFA79B;
  color: #fff;
  border: 3px solid #ff9182;
  z-index: 3000; }

.numbers {
  position: relative; }

.numbers__row {
  width: 100%;
  height: 33.33333%; }

.numbers__row__nums {
  text-align: center;
  float: left;
  width: 33.33333%;
  height: 100%;
  line-height: 60px;
  font-size: 30px;
  background-color: #FFA79B;
  cursor: pointer; }
  .numbers__row__nums:hover {
    background-color: #ff7a68; }

.slider {
  background-color: white;
  width: 150px;
  position: relative;
  height: 4px;
  opacity: 0;
  margin: 5px auto 0; }
  @media (max-width: 768px) {
    .slider {
      margin-top: 10px;
      width: 120px; } }

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: white;
  outline: none;
  top: -9px;
  margin-left: -10px; }

.soundPlayer .col-6 {
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .soundPlayer .col-6 {
      margin-bottom: 40px; } }

.soundPlayer {
  position: relative;
  transition: all 0.8s;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ff9e91;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(43, 43, 43, 0.19);
  padding-bottom: 100px; }
  .soundPlayer .row [class^="icon-"] {
    font-size: 100px;
    cursor: pointer;
    color: #fff; }
    @media (max-width: 767px) {
      .soundPlayer .row [class^="icon-"] {
        font-size: 80px; } }
    .soundPlayer .row [class^="icon-"]:hover {
      color: #ffd4ce; }
    @media (min-width: 1024px) and (max-width: 1600px) {
      .soundPlayer .row [class^="icon-"] {
        font-size: 80px; } }
  @media (max-width: 768px) {
    .soundPlayer {
      box-shadow: none;
      margin-bottom: 30px; } }

.soundPlayer--closed {
  left: 100%; }

.btnPlayer {
  width: 50px;
  height: 80px;
  background-color: transparent;
  position: absolute;
  top: calc(50vh - 40px);
  left: 0;
  z-index: 1700;
  opacity: 1;
  visibility: visible;
  font-size: 50px;
  line-height: 60px;
  cursor: pointer; }
  .btnPlayer:hover {
    color: #ffd4ce; }
  @media (max-width: 1023px) {
    .btnPlayer {
      display: none; } }

.btnPlayer--closed {
  left: -50px; }

.btnMuteAll {
  background-color: transparent;
  color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: calc(100% - 50px);
  line-height: 50px;
  cursor: pointer;
  z-index: 3000; }
  .btnMuteAll [class^="icon-"] {
    font-size: 25px; }
  .btnMuteAll:hover {
    color: #ffd4ce; }
  @media (max-width: 1023px) {
    .btnMuteAll {
      position: fixed;
      top: 0;
      right: 0; } }

.btnMuteAll--closed {
  left: -50px; }

.sectionHeading--player {
  margin-left: 16.666666666666664%; }
  .sectionHeading--player p {
    padding: 50px 50px 70px 50px; }
    @media (min-width: 1024px) {
      .sectionHeading--player p {
        padding: 50px 0 40px 0; } }
    @media (min-width: 800px) and (max-width: 1023px) {
      .sectionHeading--player p {
        padding: 50px 250px 70px 250px; } }
    @media (min-width: 650px) and (max-width: 799px) {
      .sectionHeading--player p {
        padding: 50px 200px 70px 200px; } }
    @media (min-width: 600px) and (max-width: 659px) {
      .sectionHeading--player p {
        padding: 50px 150px 70px 150px; } }
    @media (min-width: 1920px) {
      .sectionHeading--player p {
        padding-top: 70px; } }
  @media (max-width: 1023px) {
    .sectionHeading--player {
      margin-left: 0; } }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2000;
  /* Sit on top */
  padding: 10% 0;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #FFA79B;
  margin: auto;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.4s;
  animation-name: animatebottom;
  animation-duration: 0.4s; }
  .modal-content p {
    margin-top: 30px; }
    .modal-content p:first-of-type {
      margin-top: 0; }
  @media (max-width: 1500px) {
    .modal-content {
      width: 60%; } }
  @media (max-width: 1000px) {
    .modal-content {
      width: 80%; } }
  @media (max-width: 800px) {
    .modal-content {
      width: 95%; } }

/* Add Animation */
@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #ff7a68;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  background-color: #ff9e91; }
  .modal-header h3 {
    color: white; }

.modal-body {
  padding: 50px 16px; }

.socialButtons {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%); }
  @media (max-width: 767px) {
    .socialButtons {
      display: none; } }

.socialButtons button {
  float: left;
  clear: both;
  margin-bottom: 10px;
  border-bottom: none;
  width: 150px;
  border-top: none;
  left: -100px; }
  .socialButtons button:hover {
    left: 0;
    background-color: #ff9182; }

.socialButton__icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: right;
  color: white;
  background-color: #ff7a68;
  font-size: 20px;
  line-height: 50px; }

.socialButton__text {
  line-height: 50px; }

.socialButtons--small {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (min-width: 768px) {
    .socialButtons--small {
      display: none; } }

.socialBtn--small {
  width: 25%;
  float: left;
  height: 40px;
  border-right: 1px solid white; }
  .socialBtn--small:last-of-type {
    border-right: none; }
  .socialBtn--small .socialButton__icon {
    height: 100%;
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 40px; }

#donateBtnSmall {
  text-align: center;
  border-left: 1px solid white; }

form {
  vertical-align: middle;
  margin-left: 0; }

.colorPicker {
  height: 50px;
  position: fixed;
  top: 0;
  left: -450px;
  z-index: 3001; }
  .colorPicker .colorPicker__color {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-left: 0;
    cursor: pointer; }

@media (min-width: 1024px) {
  .colorPicker:hover {
    left: 0; } }

.colorPicker--isOpen {
  left: 0; }

#color-picker__color__blue {
  background-color: #2EB4C1; }

#color-picker__color__purple {
  background-color: #898CFF; }

#color-picker__color__red {
  background-color: #ED6D79; }

#color-picker__color__green {
  background-color: #71E096; }

#color-picker__color__dust-rose {
  background-color: #C8627A; }

#color-picker__color__peach {
  background-color: #FFA79B; }

#color-picker__color__lavender {
  background-color: #B3A6DD; }

#color-picker__color__turquoise {
  background-color: #01CED1; }

#color-picker__color__grey {
  background-color: #746E72; }

#color-picker__icon {
  background-color: transparent;
  color: white;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  padding-top: 5px; }
