/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  text-decoration: none; }

.container, .container-wide, .row, .numbers__row {
  *zoom: 1;
  clear: both; }
  .container:before, .container-wide:before, .row:before, .numbers__row:before, .container:after, .container-wide:after, .row:after, .numbers__row:after {
    content: " ";
    display: table; }
  .container:after, .container-wide:after, .row:after, .numbers__row:after {
    clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .sudoku-col-1-9 {
  position: relative;
  width: 100%;
  display: inline-block;
  float: left;
  vertical-align: top;
  height: 100%; }

.btn, .sudoku-emptyField, .numbers__outer, .numbers__row__nums, .slider, .soundPlayer .row [class^="icon-"], .btnPlayer, .btnMuteAll, .close, .social-buttons button, .color-picker {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%; }
  @media (min-width: 1024px) {
    .container {
      width: 970px;
      margin: 0 auto; } }

.container-wide {
  width: 100%; }

.row {
  width: 100%; }

@media (min-width: 768px) {
  .col-1 {
    width: 8.333333333333332%; } }

@media (min-width: 768px) {
  .col-2 {
    width: 16.666666666666664%; } }

@media (min-width: 768px) {
  .col-3 {
    width: 25%; } }

@media (min-width: 768px) {
  .col-4 {
    width: 33.33333333333333%; } }

@media (min-width: 768px) {
  .col-5 {
    width: 41.66666666666667%; } }

@media (min-width: 768px) {
  .col-6 {
    width: 50%; } }

@media (min-width: 768px) {
  .col-7 {
    width: 58.333333333333336%; } }

@media (min-width: 768px) {
  .col-8 {
    width: 66.66666666666666%; } }

@media (min-width: 768px) {
  .col-9 {
    width: 75%; } }

@media (min-width: 768px) {
  .col-10 {
    width: 83.33333333333334%; } }

@media (min-width: 768px) {
  .col-11 {
    width: 91.66666666666666%; } }

@media (min-width: 768px) {
  .col-12 {
    width: 100%; } }

.logo {
  position: fixed;
  top: 5px;
  left: 5px; }
  .logo h3 {
    margin: 0; }

body {
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
  background-color: #01CED1; }

.btn {
  display: inline-block;
  min-height: 3em;
  min-width: 8em;
  text-align: center;
  font-size: 0.9em;
  background-color: #01b5b8;
  cursor: pointer;
  font-family: "Muli", sans-serif;
  border-bottom: 3px solid transparent;
  text-transform: capitalize; }
  .btn:hover {
    background-color: #019c9e; }
  .btn a {
    color: white; }

button {
  padding: 0;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  outline: none; }

.setDifficultyLevel .btn {
  transform: scale(0.8); }

.modalGameWon .modal-body button {
  margin-top: 50px;
  padding: 0.5em 1.1em; }

.btn.active {
  background-color: #019c9e;
  border-bottom: 3px solid white; }

.text-center {
  text-align: center; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block; }

.bgimg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8; }

html, body {
  font-family: "Muli", sans-serif; }

body {
  font-size: 13px;
  line-height: 1.41; }
  @media screen and (min-width: 480px) {
    body {
      font-size: 15px;
      line-height: 1.5; } }
  @media screen and (min-width: 1025px) {
    body {
      font-size: 16px;
      line-height: 1.62; } }
  @media screen and (min-width: 1300px) {
    body {
      font-size: 17px;
      line-height: 1.62; } }

h3 {
  font-size: 15.6px;
  line-height: 1.18; }
  @media screen and (min-width: 480px) {
    h3 {
      font-size: 21.2px;
      line-height: 1.06; } }
  @media screen and (min-width: 1025px) {
    h3 {
      font-size: 24px;
      line-height: 1.08; } }
  @media screen and (min-width: 1300px) {
    h3 {
      font-size: 27.5px;
      line-height: 1; } }

h2 {
  font-size: 18.7px;
  line-height: 0.98; }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 30px;
      line-height: 0.75; } }
  @media screen and (min-width: 1025px) {
    h2 {
      font-size: 36px;
      line-height: 0.72; } }
  @media screen and (min-width: 1300px) {
    h2 {
      font-size: 44.5px;
      line-height: 1.24; } }

h1 {
  font-size: 22.5px;
  line-height: 0.82; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 42.4px;
      line-height: 1.06; } }
  @media screen and (min-width: 1025px) {
    h1 {
      font-size: 54px;
      line-height: 0.96; } }
  @media screen and (min-width: 1300px) {
    h1 {
      font-size: 72px;
      line-height: 1.15; } }

.header__title {
  font-size: 27px;
  line-height: 0.68; }
  @media screen and (min-width: 480px) {
    .header__title {
      font-size: 60px;
      line-height: 1.13; } }
  @media screen and (min-width: 1025px) {
    .header__title {
      font-size: 81px;
      line-height: 0.96; } }
  @media screen and (min-width: 1300px) {
    .header__title {
      font-size: 116.5px;
      line-height: 0.94; } }

h1, h2, h3,
h4, h5, h6 {
  margin: 20px 0 10px 0;
  color: #fff; }
  @media (min-width: 500px) {
    h1, h2, h3,
    h4, h5, h6 {
      margin-bottom: 20px; } }

.sudokuGrid {
  padding-bottom: 20px; }

.sudoku-outer-grid {
  margin: 0 auto;
  height: 600px;
  width: 600px;
  color: white;
  background-color: #01c4c7;
  border: 1px solid #01b5b8;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(43, 43, 43, 0.19); }
  @media (max-width: 400px) {
    .sudoku-outer-grid {
      height: 300px;
      width: 300px; } }

.sudoku-grid__row {
  height: 11.11111%;
  position: relative;
  border-bottom: 1px solid #01b5b8; }
  .sudoku-grid__row:nth-of-type(3) {
    border-bottom: 5px solid #01b5b8; }
  .sudoku-grid__row:nth-of-type(6) {
    border-bottom: 5px solid #01b5b8; }
  .sudoku-grid__row:last-of-type {
    border-bottom: none; }

.sudoku-col-1-9 {
  width: 11.11111%;
  font-size: 2em;
  text-align: center;
  border-right: 1px solid #01b5b8; }
  .sudoku-col-1-9:nth-of-type(3) {
    border-right: 5px solid #01b5b8; }
  .sudoku-col-1-9:nth-of-type(6) {
    border-right: 5px solid #01b5b8; }
  .sudoku-col-1-9:last-of-type {
    border-right: none; }

.sudoku-emptyField {
  cursor: pointer;
  color: #746E72;
  background-color: white; }
  .sudoku-emptyField:hover {
    background-color: #019c9e;
    color: #fff; }

.gameOptions {
  margin-top: 30px;
  display: block; }
  @media (min-width: 768px) {
    .gameOptions {
      display: inline-block; } }

.setDifficultyLevel {
  display: block;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .setDifficultyLevel {
      display: inline-block; } }

.gameOptionsOuter {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 300px; }
  @media (min-width: 768px) {
    .gameOptionsOuter {
      width: 600px; } }

.sudokuGrid {
  right: 0;
  transition: right 0.8s; }

.sudokuGrid-toRight {
  right: -16.666666666666664%; }

.sectionHeading {
  padding-top: 30px; }
  .sectionHeading p {
    padding: 30px 50px 70px 50px; }

@media (min-width: 768px) {
  .sectionHeadingSudoku {
    margin-left: 25%; } }

.sectionHeadingPlayer {
  margin-left: 8.333333333333332%; }
  @media (max-width: 768px) {
    .sectionHeadingPlayer {
      margin-left: 0; } }

.numbers__outer {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #01CED1;
  color: #fff;
  border: 3px solid #01b5b8; }

.numbers {
  position: relative; }

.numbers__row {
  width: 100%;
  height: 33.33333%; }

.numbers__row__nums {
  text-align: center;
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  background-color: #01CED1;
  cursor: pointer; }
  .numbers__row__nums:hover {
    background-color: #019c9e; }

.slider {
  background-color: white;
  width: 150px;
  position: relative;
  height: 4px;
  opacity: 0;
  margin: 0 auto;
  margin-top: -10px; }

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: white;
  outline: none;
  top: -9px;
  margin-left: -10px; }

.soundPlayer .col-6 {
  margin-bottom: 30px; }

.soundPlayer {
  position: relative;
  transition: all 0.8s;
  left: 0;
  width: 100%;
  min-height: 100vh;
  bottom: 0;
  background-color: #01c4c7;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(43, 43, 43, 0.19); }
  .soundPlayer .row [class^="icon-"] {
    font-size: 100px;
    cursor: pointer;
    color: #fff; }
    .soundPlayer .row [class^="icon-"]:hover {
      color: #3afbfe; }

.soundPlayer-closed {
  left: 100%; }

.btnPlayer {
  width: 50px;
  height: 80px;
  background-color: transparent;
  position: absolute;
  top: calc(50vh - 40px);
  left: 0;
  z-index: 1700;
  opacity: 1;
  visibility: visible;
  font-size: 50px;
  line-height: 60px;
  cursor: pointer; }
  .btnPlayer:hover {
    color: #3afbfe; }
  @media (max-width: 768px) {
    .btnPlayer {
      display: none; } }

.btnPlayerClosed {
  left: -50px; }

.btnMuteAll {
  background-color: transparent;
  color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: calc(100% - 50px);
  line-height: 50px;
  cursor: pointer; }
  .btnMuteAll [class^="icon-"] {
    font-size: 25px; }
  .btnMuteAll:hover {
    color: #3afbfe; }

.btnMuteAllClosed {
  left: -50px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #01CED1;
  margin: auto;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.4s;
  animation-name: animatebottom;
  animation-duration: 0.4s; }
  .modal-content p {
    margin-top: 30px; }
    .modal-content p:first-of-type {
      margin-top: 0; }

/* Add Animation */
@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #019c9e;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  background-color: #01c4c7; }
  .modal-header h3 {
    color: white; }

.modal-body {
  padding: 50px 16px; }

.social-buttons {
  position: fixed;
  top: 0;
  display: none; }
  @media (min-width: 768px) {
    .social-buttons {
      display: block;
      top: 50%;
      transform: translateY(-50%); } }

.social-buttons button {
  display: block;
  float: left;
  clear: both;
  margin-bottom: 10px;
  min-height: 100%;
  border-bottom: none;
  width: 150px;
  height: 50px;
  left: -100px; }
  .social-buttons button:hover {
    left: 0;
    background-color: #01b5b8; }

.social-button__icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: right;
  color: white;
  background-color: #019c9e;
  font-size: 20px;
  line-height: 50px; }

.social-button__text {
  line-height: 50px; }

.social-buttons__small {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto; }
  .social-buttons__small .social-button__icon {
    min-height: 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: white;
    background-color: #019c9e;
    font-size: 20px;
    line-height: 50px; }
  @media (min-width: 767px) {
    .social-buttons__small {
      display: none; } }

.color-picker {
  display: inline-block;
  height: 50px;
  position: fixed;
  top: 0;
  left: -450px; }
  .color-picker:hover {
    left: 0; }
  .color-picker .colors {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-left: 0;
    cursor: pointer; }

.color-picker--isOpen {
  left: 0; }

#color-picker__color__blue {
  background-color: #2EB4C1; }

#color-picker__color__purple {
  background-color: #898CFF; }

#color-picker__color__red {
  background-color: #ED6D79; }

#color-picker__color__green {
  background-color: #71E096; }

#color-picker__color__dust-rose {
  background-color: #C8627A; }

#color-picker__color__peach {
  background-color: #FFA79B; }

#color-picker__color__lavender {
  background-color: #B3A6DD; }

#color-picker__color__turquoise {
  background-color: #01CED1; }

#color-picker__color__grey {
  background-color: #746E72; }

#color-picker__icon {
  background-color: transparent;
  color: white;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  border: none; }
