%clearfix {
  *zoom: 1;
  clear: both;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after{clear: both;}
}

%center-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }



%menu-slide-transition{
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

%col-x{
  position: relative;
  width: 100%;
  display:inline-block;
  float: left;
  vertical-align: top;
  height: 100%;
}
%overlay-transition{
  -webkit-transition: all .5s ;
  -moz-transition: all .5s ;
  -ms-transition: all .5s ;
  -o-transition: all .5s ;
  transition: all .5s;
}
%transitions{
  -webkit-transition: all .3s ;
  -moz-transition: all .3s ;
  -ms-transition: all .3s ;
  -o-transition: all .3s ;
  transition: all .3s;
}
