//colors
$color-white: #fff;
$color-vanilla: #FAE9D5;
$color-grey: #828F97;
$color-green:#978E4D;
$color-orange:#DAAF47;
$color-main: #2EB4C1;
$color-purple-dark:#6468FC;
$color-purple-light:#B1B3FE;



//colors use
$color-background-light:$color-main;
$color-background-dark:darken($color-background-light,2%);
$color-background-darker:darken($color-background-dark,3%);
$color-primary-text:$color-white;
$color-light: $color-vanilla;
$color-accent-text:$color-white;
$color-logo-text:$color-white;
$color-footer:darken($color-background-dark,3%);

$color-button-bg:$color-grey;
$menu-slide-bg:$color-green;
$menu-slide-accent:$color-grey;


//font-weight

$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-bold: 700;

$font-sans:  'Muli', sans-serif;
$font-cursive:cursive;


//grid
$container-width: 970px;


$sudoku-outer-width:600px;
$sudoku-outer-height:600px;

$sudoku-size-xs:300px;
$sudoku-size-s:350px;
$sudoku-size-m:400px;
$sudoku-size-l:500px;
$sudoku-size-xl:600px;


