//colors
$color-white: #5b6b5f;
$color-vanilla: #FAE9D5;
$color-grey: rgb(32, 27, 41);
$color-green:#978E4D;
$color-orange:#DAAF47;
$color-lavander:#DCB7BF;

//colors use
$color-primary-text:$color-grey;
$color-light: $color-vanilla;
$color-accent-text:$color-grey;
$color-logo-text:$color-white;
$color-footer:$color-green;
$color-separator:$color-green;
$color-button-bg:$color-grey;
$menu-slide-bg:$color-green;
$menu-slide-accent:$color-grey;


//font-weight

$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-bold: 700;

$font-sans:  'Muli', sans-serif;
$font-cursive:cursive;


//grid
$container-width: 970px;


$sudoku-outer-width:600px;

$sudoku-outer-height:600px;

