//colors
$color-white: #fff;

$color-grey: #746E72;
$color-blue: #2EB4C1;
$color-purple:#898CFF;
$color-red: #ED6D79;
$color-green:#71E096;
$color-dust-rose:#C8627A;
$color-peach:#FFA79B;
$color-lavender:#B3A6DD;
$color-turquoise:#01CED1;



//colors use

$color-background-light:$color-blue !default;
$color-background-lighter:lighten($color-background-light, 20%)!default;
$color-background-dark:darken($color-background-light,2%) !default;
$color-background-darker:darken($color-background-dark,3%) !default;
$color-background-darkest:darken($color-background-darker,5%) !default;
$color-primary-text:$color-white;

$color-accent-text:$color-white!default;

$color-footer:darken($color-background-dark,3%)!default;

//$color-logo-text:$color-white;
//$color-button-bg:$color-grey;
//$menu-slide-accent:$color-grey;


//font-weight

$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-bold: 700;

$font-sans:  'Muli', sans-serif;
$font-cursive:cursive;


//grid
$container-width: 970px;




$sudoku-size-xs:300px;
$sudoku-size-s:350px;
$sudoku-size-m:400px;
$sudoku-size-l:450px;
$sudoku-size-xl:520px;


