
.slider {

  background-color: white;
  width: 150px;
  position: relative;
  height: 4px;
  opacity: 0;
  margin: 0 auto;
  margin-top:20px;
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: white;
  outline: none;
  top: -9px;
  margin-left: -10px;
  //border-radius: 50%;

}


.soundPlayer .col-6{
  //border-bottom:1px solid purple;
  margin-bottom: 50px;

}
.soundPlayer{
  position: relative;
 // border-left:1px solid purple;
// visibility: visible;
//  opacity: 1;
  transition: all 0.8s ;
  left:0;
  width:100%;
  background-color: $color-background-dark;
  //-webkit-box-shadow: -3px 0px 13px 0px rgb(226, 223, 226);
  //-moz-box-shadow: -3px 0px 13px 0px rgb(226, 223, 226);
  //box-shadow: -3px 0px 13px 0px rgb(226, 223, 226);
 // background-color: #8b778b;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2),0 6px 20px 0 rgba(43, 43, 43, 0.19);
  [class^="icon-"]:before{
    font-size: 120px;
    cursor: pointer;
    color: #fff;
  }

}
.soundPlayer-closed{
  //visibility: hidden;
  left:100%;
 // opacity: 0;


}
//.btnPlayer{
//  transition:left 0.8s ;
//  position: fixed;
//  top:50%;
//    z-index: 1600;
//}

.btnPlayer{
  transition: all 0.8s ;
  width:80px;
  height:60px;
  background-color: $color-background-darker;
  position: absolute;
  top:0;
  left:0;
z-index: 1700;
  opacity: 1;
  visibility: visible;
  font-size: 32px;
  line-height:60px;

}
//
//.btnPlayerOpen{
//
//  display: inline-block;
//  transition: left 0.8s ;
//  width:80px;
//  height:60px;
//  background-color: red;
//  position: absolute;
//  top:0;
//  right:0;
//  z-index: 1600;
//  opacity: 1;
//  visibility: visible;
//}
.playerHeading{
  padding: 100px;
}
.btnPlayerClosed{

  left: -80px;
}

