
.slider {
  @extend %transitions;
  background-color: white;
  width: 150px;
  position: relative;
  height: 4px;
  opacity: 0;
  margin: 0 auto;
  margin-top:-10px;
  @include media("(max-width:768px)") {
    margin-top:0;
  }
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: white;
  outline: none;
  top: -9px;
  margin-left: -10px;
}


.soundPlayer .col-6{
   margin-bottom: 20px;
}

.soundPlayer {
  position: relative;
  transition: all 0.8s;
  left: 0;
  width: 100%;
  min-height:100vh;
  //bottom:0;
  background-color: $color-background-dark;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(43, 43, 43, 0.19);
  padding-bottom:100px;
  .row [class^="icon-"] {
    @extend %transitions;
    font-size: 100px;
    cursor: pointer;
    color: #fff;
    &:hover {
      color: $color-background-lighter;
    }
  }
  @include media("(max-width:768px)") {
    box-shadow:none;
  }
}

//added with JS when clicked on close button
.soundPlayer-closed{
  left:100%;
}


.btnPlayer{
  @extend %transitions;
  width:50px;
  height:80px;
  background-color: transparent;
  position: absolute;
  top:calc(50vh - 40px);
  left:0;
  z-index: 1700;
  opacity: 1;
  visibility: visible;
  font-size: 50px;
  line-height:60px;
  cursor: pointer;
  &:hover{
   color: $color-background-lighter;

  }
  @include media("(max-width:1023px)") {
    display: none;
  }
}


.btnPlayerClosed{
  left: -50px;
}



.btnMuteAll{
  @extend %transitions;
  background-color: transparent;
  color: white;
  width:50px;
  height:50px;
  position: absolute;
  top:0;
  left:calc(100% - 50px);
  line-height:50px;
  cursor: pointer;
  z-index: 3000;
  [class^="icon-"]{
    font-size:25px;
  }
  &:hover{
    color: $color-background-lighter;

  }
  @include media("(max-width:1023px)") {
    position: fixed;
    top: 0;
    right: 0;
  }

}
.btnMuteAllClosed{
  left: -50px;
}




//.sectionHeadingPlayer{
//  margin-left: 8.333333333333332%;
//  @include media("(max-width:768px)") {
//    margin-left: 0;
//  }
//}