
.slider {

  background-color: grey;
  width: 150px;
  position: relative;
  height: 4px;
  opacity: 0;
  margin: 0 auto;
}
//.volume {
//  display: inline-block;
//  width: 25px;
//  height: 25px;
//  left: 10px;
//  background: red no-repeat 0 -50px;
//  position: absolute;
//  margin-top: -5px;
//}
.ui-slider-handle {
 // background-image: url(../images/sound.png);
  position: absolute;
 // background-position: center center;
 // -webkit-background-size:100%;
 // background-size:100%;
  //background-repeat:no-repeat;
  z-index: 2;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #2a2536;
  //font-weight: bold;
  outline: none;
  top: -9px;
  margin-left: -12px;
  border-radius: 50%;
}

.soundPlayer img{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
}


.soundPlayer .col-6{
  //border-bottom:1px solid purple;
  margin-bottom: 50px;

}
.soundPlayer{
  position: relative;
  border-left:1px solid purple;
// visibility: visible;
//  opacity: 1;
  transition: all 0.8s ;
  left:0;
  width:100%;
  background-color:white;



}
.soundPlayer-closed{
  //visibility: hidden;
  left:100%;
 // opacity: 0;


}
//.btnPlayer{
//  transition:left 0.8s ;
//  position: fixed;
//  top:50%;
//    z-index: 1600;
//}

.btnPlayer{
  transition: left 0.8s ;
  width:80px;
  height:60px;
  background-color: #5b6b5f;
  position: absolute;
  top:0;
  left:0;
z-index: 1700;
  opacity: 1;
  visibility: visible;
}
//
//.btnPlayerOpen{
//
//  display: inline-block;
//  transition: left 0.8s ;
//  width:80px;
//  height:60px;
//  background-color: red;
//  position: absolute;
//  top:0;
//  right:0;
//  z-index: 1600;
//  opacity: 1;
//  visibility: visible;
//}
.playerHeading{
  padding: 100px;
}
.btnPlayerClosed{

  left: -80px;
}