body{
  height: 100%;
  width:100%;
//  background-color: #352c44;
  color: $color-primary-text;
  font-family: $font-sans;
  overflow-x: hidden;
}

a{
  //@extend %transitions;
  //color: $color-white;
  //&:hover{
  //  color: $color-grey;
  //}
}

//.fixed-bg{
//  background-size: 100%;
//  background-repeat:no-repeat;
//  background-image: url("../images/zen.jpg");
//}