body{
  height: 100%;
  width:100%;
  //background-color: $color-white;
  color: $color-primary-text;
}

a{
  //@extend %transitions;
  //color: $color-white;
  //&:hover{
  //  color: $color-grey;
  //}
}

//.fixed-bg{
//  background-size: 100%;
//  background-repeat:no-repeat;
//  background-image: url("../images/zen.jpg");
//}