.btn{
  display: inline-block;
  min-height: 3em;
  min-width: 8em;
  padding: 0.5em 1em;
  border:3px solid #7950ff;
  text-align: center;
  font-size:1.2em;
  font-weight:bold;
  background-color: #fff;
}
.bgimg {
  position:fixed;
  top: 0;
  left: 0;

  width:100%;
  height:100%;
  z-index:-1;
  opacity:1;
}