.btn {
  @extend %transitions;
  display: inline-block;
  min-height: 3em;
  min-width: 8em;
  text-align: center;
  font-size: 0.8em;
  background-color: $color-background-darker;
  cursor: pointer;
  font-family: $font-sans;
  border-bottom: 3px solid transparent;  border-top: 3px solid transparent;
  text-transform: capitalize;
  &:hover {
    background-color: $color-background-darkest;

  }

  a {

    color: white;
  }

}

button {
  padding:0;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  outline: none;
 }




.modalGameWon .modal-body button{
  margin-top: 50px;
  padding:0.5em 1.1em;
 // margin-right: 10px;
}

.active{
  background-color: darken($color-background-darker,5%);
  border-bottom: 3px solid white;
}