.btn{
  @extend %transitions;
  display: inline-block;
  min-height: 3em;
  min-width: 8em;
  text-align: center;
  font-size:0.9em;
  //font-weight:bold;
  background-color:$color-background-darker;
  cursor: pointer;
  font-family: $font-sans;
border-bottom: 3px solid transparent;
  text-transform: capitalize;
  &:hover{
    background-color: darken($color-background-darker,5%);

  }

a{
  //padding: 5px 35px;
  color: white;
}
  //&:hover{
  //  background-color: darken($color-background-darker,4%);
  //
  //}
}

button {
  padding:0;
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
  outline: none;
 // transform: scale(0.9);
  //&::before {
  //  position: absolute;
  //  bottom:0;
  //  right:0;
  //  left:0;
  //  content: '';
  //  display: block;
  //  margin: auto;
  //  height: 3px;
  //  width: 0;
  //  background: transparent;
  //  transition: width .5s ease, background-color .5s ease;
  //
  //}
  //&:hover::before {
  //  width: 100%;
  //  background:white;
  //
  //}
}






.setDifficultyLevel{
 //@extend %clearfix;
  .btn{
transform: scale(0.8);
    }

}


.modalGameWon .modal-body button{
  margin-top: 50px;
  padding:0.5em 1.1em;
 // margin-right: 10px;
}

.btn.active{
  background-color: darken($color-background-darker,5%);
  border-bottom: 3px solid white;
}