.numbers__outer{

  @extend %transitions;
  width:auto;
  height:auto;
  margin: 0 auto;
  display: none;
  position: fixed;
  left:0;
  top:0;
  background-color: $color-background-light;

  color: $color-white;
  border: 3px solid $color-background-darker;
}
.numbers{
  position: relative;

}
.numbers__row{
  @extend %clearfix;
  width: 100%;
  height:percentage(1/3);


}
.numbers__row__nums{
  @extend %transitions;
  text-align: center;
  float: left;
  width: 60px;
  height:60px;
  line-height:60px;
  font-size: 30px;
  background-color: $color-background-light;
  cursor: pointer;
  &:hover{
    background-color:darken($color-background-darker,4%);
  }

}
//TODO check and fix number options div