.social-buttons{
  position: fixed;
  display: block;
  top: 50vh;
  transform: translateY(-50%);
  @include media("(max-width:767px)") {
    display: none;
  }
}




.social-buttons button{

  @extend %transitions;
  display: block;
  float: left;
  clear: both;
  margin-bottom: 10px;
  min-height:100%;
  border-bottom: none;
  width:150px;
  height:50px;
  border-top:none;
  //transform: scale(0.8);
  left:-100px;

  &:hover{
    left:0;
    background-color: $color-background-darker;
  }
  //@include media("(max-width:768px)") {
  //
  //  display: inline-block;
  //  float: none;
  //  clear: none;
  //  left: 0;
  //}
}


.social-button__icon {
  width:50px;
  height:50px;
  display: inline-block;
  float: right;
  color: white;
  background-color: $color-background-darkest;
  font-size: 20px;
  line-height:50px;

}

.social-button__text {

  //display: inline-block;
  line-height:50px;

}

.social-buttons__small {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  button {
    width: percentage(1/3);
    float: left;
    height: 40px;
    border-right: 1px solid white;
    &:last-of-type{
      border-right: none;
    }
  }
  .social-button__icon {
    height: 100%;
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 40px;

  }
  @include media("(min-width:768px)") {
    display: none;
  }
}