.sudokuGrid{
  padding-bottom:20px;
  @include media("(max-width:768px)") {
    padding-top:30px;
  }
 }



.sudoku-outer-grid{
  position: relative;
  margin: 0 auto;
  height: $sudoku-size-xl;
  width: $sudoku-size-xl;
  color: white;
  background-color:$color-background-dark;
  border:1px solid $color-background-darker;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2),0 6px 20px 0 rgba(43, 43, 43, 0.19);
  @include media("(max-width:1500px)") {
    height: $sudoku-size-l;
    width:$sudoku-size-l;
  }
  @include media("(max-width:1280px)") {
    height: $sudoku-size-m;
    width:$sudoku-size-m;
  }
  @include media("(max-width:1023px)") {
    height: $sudoku-size-l;
    width:$sudoku-size-l;
    box-shadow:none;

  }
  @include media("(max-width:550px)") {
    height: $sudoku-size-m;
    width:$sudoku-size-m;
  }
  @include media("(max-width:460px)") {
     height: $sudoku-size-s;
     width:$sudoku-size-s;
   }

  @include media("(max-width:380px)") {
    height: $sudoku-size-xs;
    width:$sudoku-size-xs;
  }
}

.sudoku-grid__row{
  height: percentage(1/9);
  position: relative;
  border-bottom: 1px solid $color-background-darker;

  &:nth-of-type(3){
    border-bottom: 5px solid $color-background-darker;

  }

  &:nth-of-type(6){
    border-bottom:5px solid $color-background-darker;
  }
  &:last-of-type{
    border-bottom:none;
  }


}
//.sudoku-inner-grid__section{
// border: 1px solid #bfff12;
//  padding: 1px;
//}

.sudoku-col-1-9{
  @extend %col-x;
  width:percentage(1/9);
  font-size: 2em;
  text-align: center;

  border-right: 1px solid $color-background-darker;
 &:nth-of-type(3){
    border-right: 5px solid $color-background-darker;
  }
  &:nth-of-type(6){
    border-right: 5px solid $color-background-darker;
  }
  &:last-of-type{
    border-right:none;
  }
  @include media("(max-width:460px)") {
    font-size:1.5em;
    line-height:1.6em;
  }
}

.sudoku-emptyField {
  @extend %transitions;
  cursor: pointer;
  color: $color-grey;
  background-color: white;
  &:hover {
    background-color: $color-background-darkest;
    color: #fff;
  }
}

.gameOptionsOuter{
  display: block;
  margin: 0 auto;
  text-align: center;
  width:300px;
  @include media("(min-width:768px)") {
    width:600px;
  }

}

.gameOptions {
  margin-top: 30px;
  display: block;


}

.setDifficultyLevel{
  display: block;
  margin-top: 30px;
  @include media("(min-width:768px)") {
    display: inline-block;
  }
}

.sudokuGrid{
  right: 0;
  transition: right 0.8s ;

}
 .sudokuGrid-toRight{
   right: -16.666666666666664%;

 }

 //.sectionHeading {
 //  padding-top: 30px;
 //  p {
 //   // padding: 100px;
 //    padding: 30px 50px 70px 50px;
 //    @include media("(min-width:600px)") {
 //      padding: 30px 0 70px 0;
 //    }
 //  }

 //}
.sectionHeadingSudoku {
  p {
    padding: 60px 50px 70px 50px;
    @include media("(min-width:768px) and (max-width:1500px)") {
      padding: 60px 0 70px 0;
    }
  }

  @include media("(min-width:600px) and (max-width:767px)") {
    padding: 20px 90px 20px 90px;
  }

  @include media("(min-width:768px)") {
    margin-left: 25%;
  }
}




 .sectionHeadingPlayer{
   p {

     padding: 60px 50px 70px 50px;
     @include media("(min-width:750px)") {
       padding: 60px 0 70px 0;
     }
     @include media("(min-width:800px) and (max-width:1023px)" ) {
       padding: 60px 250px 70px 250px;
     } @include media("(min-width:650px) and (max-width:799px)" ) {
       padding: 60px 200px 70px 200px;
     } @include media("(min-width:600px) and (max-width:659px)" ) {
       padding: 60px 150px 70px 150px;
     }
   }
   margin-left:16.666666666666664%;
   @include media("(max-width:1023px)") {
       margin-left: 0;
     }
}
 
 
 
 .edited-field{
   background-color: white;
   color: $color-grey;
 }