.sudoku-outer-grid{
  display: inline-block;
  //margin: 10% 0;
  height: $sudoku-outer-height;
  width: $sudoku-outer-width;
 background-color: #6a6873;
  border:3px solid #5b5a63;


}

.sudoku-grid__row{
  height: percentage(1/9);
  position: relative;
  &:nth-of-type(3){
    border-bottom: 1px solid black;

  }
  &:nth-of-type(6){
    border-bottom: 1px solid black;
  }


}
.sudoku-inner-grid__section{
 border: 1px solid #bfff12;
  padding: 1px;
}

.sudoku-col-1-9{
  @extend %col-x;
  width:percentage(1/9);
  font-size: 35px;
  text-align: center;
  &:nth-of-type(3){
    border-right: 1px solid black;
  }  &:nth-of-type(6){
    border-right: 1px solid black;
  }
}
.sudoku-col-1-9{
   //  display: inline-block;
     //vertical-align:middle;
 // height:100%;
 // margin: 1px;
  //color: #443067;

}
.sudoku-emptyField {
  cursor: pointer;
  background-color: white;
  border:3px inset #b9b9b9 ;
  color: lawngreen;

  &:hover{
    background-color: rgb(235, 255, 225);
  }
  &:focus{
    background-color: rgb(255, 46, 208);
  }
}

.sudoku-col-1-9__text--success{
  //@extend %transitions;
  background-color: #BCBCFF;
  color: #443067;
  cursor: default;

}
.active{
  background-color: #ffffd8;
}

//.gameOptions{
//  background-color: rgba(43, 43, 43, 0.66);
//  display: inline-block;
//  padding: 30px ;
//}

//.soundPlayer{
//  background-color: #2a2536;
//
//}
