.sudoku-outer-grid{
  display: inline-block;
  margin: 10% 0;
  height: $sudoku-outer-height;
  width: $sudoku-outer-width;
 background-color: rgba(83, 82, 255, 0.39);
  border:3px solid #7950ff;
}

.sudoku-grid__row{
  height: percentage(1/3);

}
.sudoku-inner-grid__section{
 border: 1px solid #bfff12;
  padding: 1px;
}

.sudoku-col-4{
  @extend %col-x;
  width: 33.33333333333333%;
  font-size: 35px;
  text-align: center;
}
.sudoku-col-4__text{
   //  display: inline-block;
     //vertical-align:middle;
  height:100%;
  margin: 1px;
}
.sudoku-col-4__text[contentEditable] {
  background-color: white;
  border:3px solid #b9b9b9;
  border-style: inset;
}