.footerInner{
  position: relative;
  //background-color: $color-footer;
  //border-top:1px solid lighten($color-background-light, 20%);
  padding-top:50px;
  margin-top:100px;
  &::before{
    content: '';
    height:2px;
    position: absolute;
    display: block;
    top:0;
    left:0;
    right:0;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(46,181,193,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(46,181,193,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(46,181,193,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(46,181,193,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(46,181,193,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, transparent 0%, rgb(44,172,185) 50%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  }

}