
.footer{
z-index: 3000;
   position: fixed;
   bottom:0;
   left: 0;
   right: 0;
  padding:5px 0;
   text-align: center;
   font-size:0.8em;
   background-color: $color-background-dark;
  @include media("(max-width:768px)") {
    position: relative;
  }

  p{

    display: inline-block;
    margin-left: 10px;
    padding-top:10px;
  }
   a{
     @extend %transitions;
     color: $color-primary-text;
     &:hover{
       color: $color-background-lighter;
     }
   }
 }

.donation {
  display: inline-block;

  button {
    height: 30px;
    margin-left: 5px;
    background-color: darken($color-background-darker, 1%);
    border: none;

  }
  .social-button__icon {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  .social-button__text {

    padding: 10px;
    line-height: 30px;
    font-size: 1.2em;

  }

  p:first-of-type {
    @include media("(max-width:419px)") {
      display: none
    }
  }

}

form{
  display: inline-block;
  vertical-align: middle;
  margin-left:5px;
  #paypalimage{
    width:80px;
  }
}